:root {
	--primary-color: #ffff;
	--secondary-color: #0693e3;
	--tertiary-color: #a3a8c3;
	--bg-color: #120e26;
	--bg-light-color: #120e26ec;
	--active-color: #0692e31d;
	--card-color: #1a1336;
	--font-sans: "Inter", sans-serif;
	--font-mono: "Space Mono", monospace;
	--font-xs: 0.75rem;
	--font-sm: 0.875rem;
	--font-md: 1rem;
	--font-lg: 1.125rem;
	--font-xl: 1.25rem;
	--font-2xl: 1.5rem;
	--line-height-xs: 1rem;
	--line-height-sm: 1.25rem;
	--line-height-md: 1.5rem;
	--line-height-lg: 1.75rem;
	--line-height-xl: 1.75rem;
	--line-height-2xl: 1.75rem;
}
body {
	background-color: var(--bg-color);
	color: var(--primary-color);
	margin: 0;
	padding: 0;
	width: 100vw;
	min-height: 100%;
	overflow-x: hidden !important;
	-webkit-font-smoothing: antialiased;
}
*,
::before,
::after {
	box-sizing: inherit;
}
/* width */
::-webkit-scrollbar {
	width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
	background: var(--bg-color);
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--tertiary-color);
	border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--tertiary-color);
}
p {
	font-family: var(--font-sans);
	font-size: var(--font-md);
	line-height: var(--line-height-md);
	color: var(--tertiary-color);
}
span {
	font-family: var(--font-sans);
	font-size: var(--font-md);
	line-height: var(--line-height-md);
	color: var(--secondary-color);
}
section {
	padding: 100px 0;
}
.content-heading {
	font-family: var(--font-sans);
	font-size: clamp(26px, 5vw, 2.2rem);
	font-weight: 600;
	line-height: var(--line-height-2xl);
	display: flex;
	align-items: center;
	white-space: nowrap;
}
.content-heading::after {
	content: "";
	display: block;
	position: relative;
	top: 0;
	width: 300px;
	height: 1px;
	margin-left: 20px;
	background-color: var(--secondary-color);
}
#certificate {
	height: 78vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#certificate .wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}
