<div id="about">
	<h3>About Me</h3>
	<p>
		Hello!, I'm Vithushan, a software developer based in Colombo, Sri Lanka.
	</p><p>I enjoy designing and developing websites and mobile applications.</p>
	<p>
		I have a passion for building things that people love to use in their daily
		life.
	</p>
	<p>Here are the few technologies I've been working with recently:</p>
	<ul>
		<li>Javascript (ES6+)</li>
		<li>TypeScript</li>
		<li>React</li>
		<li>React Native</li>
		<li>Next.js</li>
		<li>Node</li>
	</ul>
</div>
