<section id="contact">
	<div class="content">
		<h2>Get In Touch</h2>
		<p>I like to meet new people and exchange ideas. Let's grab a coffee!</p>
		<a class="contact-button" href="mailto:vithushjeytharma@gmail.com">
			Say Hello
			<span class="hi-emoji">👋</span>
		</a>
	</div>
</section>

<style>
	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.content > * {
		margin-bottom: 10px;
	}
	h2 {
		font-family: var(--font-sans);
		font-size: clamp(40px, 5vw, 60px);
		color: var(--primary-color);
	}
	.content p {
		text-align: center;
	}
	.contact-button {
		font-family: var(--font-mono);
		font-size: var(--font-md);
		line-height: var(--line-height-md);
		color: var(--secondary-color);
		background-color: transparent;
		border-radius: 50px;
		border: 2px solid var(--secondary-color);
		padding: 0.5rem 1.5rem;
		margin: 30px 0;
		text-decoration: none;
	}
	.contact-button:hover {
		background-color: var(--active-color);
	}
	/* @keyframes rotate {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(20deg);
		}
	}
	.hi-emoji {
		display: inline-block;
		animation: rotate 0.8s linear 0s infinite alternate;
	} */
</style>
