<section id="experience">
	<h3 class="content-heading">Experience</h3>
	<div>
		<div>
			<p class="job-title">
				Software Enigneer @
				<a class="company-name" href="https://www.flatlineagency.com/">
					Flatline Agency
				</a>
			</p>
			<ul>
				<li>
					Created Meditation mobile application using <span>React Native</span> with
					features like chat, live meditation, and on-demand audio player. Integrated
					revenue to enable online subscription and <span>Firebase</span> to provide
					mobile notification, dynamic link, and authentication.
				</li>
				<li>
					Designed and developed the user interfaces using <span>React</span> and
					<span>Fluent Design System</span>
					for the Public House Visit web application for the Netherland Government.
					Integrated Analytics API and Floor Planner.
				</li>
				<li>
					Created Food Order mobile application to cater to the Amsterdam
					populace using <span>React Native</span> and
					<span>React Native Paper</span>. Integrated <span>Firebase</span> to provide
					dynamic link and authentication and <span>Google Maps</span> for map services.
				</li>
			</ul>
		</div>
		<div>
			<p class="job-title">
				Software Engineer Trainee @
				<span class="company-name">Trabeya</span>
			</p>
			<ul>
				<li>
					Worked on Virtual Concierge system for Lake Nona region to create a
					Natural Language Processing (NLP) based chatbot. Designed and
					developed the Bot user interface and admin dashboard.
				</li>
				<li>
					Implemented a Document Ingester to search PDFs and textual images
					using Ingest Attachment Plugin of Elasticsearch.
				</li>
			</ul>
		</div>
	</div>
</section>

<style>
	ul {
		list-style: none;
	}
	li {
		font-family: var(--font-sans);
		font-size: var(--font-md);
		line-height: var(--line-height-md);
		color: var(--tertiary-color);
		text-decoration: none;
		margin-bottom: 10px;
	}
	li::before {
		content: "▹ ";
		position: relative;
		right: 5px;
		color: var(--secondary-color);
	}
	.job-title {
		font-size: var(--font-lg);
		line-height: var(--line-height-lg);
	}
	.company-name {
		font-family: var(--font-mono);
		font-size: var(--font-lg);
		line-height: var(--line-height-lg);
		color: var(--secondary-color);
		text-decoration: none;
		position: relative;
	}
	.company-name:after {
		content: "";
		position: absolute;
		width: 100%;
		transform: scaleX(0);
		height: 1px;
		bottom: -1px;
		left: 0;
		background-color: var(--secondary-color);
		transform-origin: bottom right;
		transition: transform 0.25s ease-out;
	}
	.company-name:hover:after {
		transform: scaleX(1);
		transform-origin: bottom left;
	}
</style>
