<div id="experience">
	<h3>Experience</h3>
	<ul>
		<div>
			<p>Flatline Agency</p>
			<p>Software Enigneer</p>
			<ul>
				<li>
					Created Meditation mobile application using React Native with features
					like chat, live meditation, and on-demand audio player. Integrated
					revenue to enable online subscription and Firebase to provide mobile
					notification, dynamic link, and authentication.
				</li>
				<li>
					Designed and developed the user interfaces using Fluent Design System
					for the Public House Visit web application for the Netherland
					Government. Integrated Analytics API and Floor Planner.
				</li>
				<li>
					Created Food Order mobile application to cater to the Amsterdam
					populace using React Native. Integrated Firebase to provide dynamic
					link and authentication and Google Maps for map services.
				</li>
			</ul>
		</div>
		<div>
			<p>Trabeya</p>
			<p>Software Engineer Trainee</p>
			<ul>
				<li>
					Worked on Virtual Concierge system for Lake Nona region to create a
					Natural Language Processing (NLP) based chatbot. Designed and
					developed the Bot user interface and admin dashboard.
				</li>
				<li>
					Implemented a Document Ingester to search PDFs and textual images
					using Ingest Attachment Plugin of Elasticsearch.
				</li>
			</ul>
		</div>
	</ul>
</div>
