<div class="footer">
	<div class="social-list">
		<a
			href="https://medium.com/@vithushjeytharma"
			target="_blank"
			rel="noopener noreferrer"
		>
			<img
				class="social-icons"
				src="/icons/fa-medium.svg"
				alt="medium-icon"
				height="22px"
			/>
		</a>

		<a
			href="https://github.com/vithujey"
			target="_blank"
			rel="noopener noreferrer"
		>
			<img
				class="social-icons"
				src="/icons/fa-github.svg"
				alt="github-icon"
				height="22px"
			/>
		</a>

		<a
			href="https://www.linkedin.com/in/vithujey/"
			target="_blank"
			rel="noopener noreferrer"
		>
			<img
				class="social-icons"
				src="/icons/fa-linkedin.svg"
				alt="linkedin-icon"
				height="22px"
			/>
		</a>

		<a
			href="https://twitter.com/jeyvithu"
			target="_blank"
			rel="noopener noreferrer"
		>
			<img
				class="social-icons"
				src="/icons/fa-twitter.svg"
				alt="twitter-icon"
				height="22px"
			/>
		</a>
	</div>
	<p>Built with</p>
	<a href="https://astro.build/" target="_blank" rel="noopener noreferrer"
		><img src="/icons/astro.svg" alt="astro-logo" height="40px" />
	</a>
	<a href="https://github.com/bchiang7/v4" target="_blank"
		>Inspired from Brittany Chiang Portfolio
	</a>
</div>

<style>
	.footer {
		margin-bottom: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.footer > * {
		margin-bottom: 20px;
	}
	.social-list {
		display: none;
	}
	p,
	a {
		font-family: var(--font-mono);
		font-size: var(--font-sm);
		color: var(--tertiary-color);
		text-align: center;
		text-decoration: none;
	}
	a:hover {
		color: var(--secondary-color);
	}
	@media only screen and (max-width: 768px) {
		.social-list {
			display: block;
			text-align: center;
		}
		.social-list a {
			margin: 0 18px;
		}
		.social-icons {
			filter: brightness(0) invert(1) opacity(0.7);
		}
	}
</style>
