<div class="footer">
	<p>Built with</p>
	<a href="https://astro.build/" target="_blank" rel="noopener noreferrer"
		><img src="/icons/astro.svg" alt="astro-logo" height="40px" />
	</a>
	<a href="https://github.com/bchiang7/v4" target="_blank"
		>Inspired from Brittany Chiang Portfolio
	</a>
</div>

<style>
	.footer {
		margin-bottom: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.footer > * {
		margin-bottom: 20px;
	}
	p,
	a {
		font-family: var(--font-mono);
		font-size: var(--font-sm);
		color: var(--tertiary-color);
		text-decoration: none;
	}
	a:hover {
		color: var(--secondary-color);
	}
</style>
