<div id="hero">
	<h6>Welcome, I'm</h6>
	<h1>Vithushan Jey.</h1>
	<h2>I build web and mobile apps.</h2>
	<p>
		I'm a software developer based in Sri Lanka, specializing in building user
		centric websites and mobile applications.
	</p>
	<a
		href="/docs/vithushan_jeyasothy_resume.pdf"
		target="_blank"
		class="resume-button"
	>
		Get Resume
	</a>
</div>
