<div class="hero">
	<h6 class="welcome-text">, I'm</h6>
	<h1>Vithushan Jey.</h1>
	<h2>I build web and mobile apps.</h2>
	<p>
		I'm a software developer specializing in building human-centric digital
		experiences. Also a coffee enthusiast ☕
	</p>
	<a href="/docs/Vithushan Jeyasothy.pdf" target="_blank" class="resume-button">
		Get Resume
	</a>
</div>

<style>
	.hero {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: flex-start;
		min-height: 100vh;
	}
	h6 {
		font-family: var(--font-mono);
		font-size: var(--font-md);
		line-height: var(--line-height-md);
		color: var(--secondary-color);
	}
	@keyframes word {
		0% {
			content: "Welcome";
		}
		25% {
			content: "Welkom";
		}
		50% {
			content: "Hola";
		}
		75% {
			content: "Vanakkam";
		}
	}
	.welcome-text::before {
		content: "Welcome";
		animation: word 10s linear 1s infinite;
	}
	h1,
	h2 {
		font-family: var(--font-sans);
		font-size: clamp(40px, 8vw, 80px);
		font-weight: 550;
		line-height: 0.9;
		color: var(--primary-color);
		margin: 0;
	}
	h1 {
		color: var(--primary-color);
		font-weight: 600;
	}
	h2 {
		color: var(--secondary-color);
		margin: 30px 0;
	}
	p {
		margin: 20px 0;
		max-width: 500px;
	}
	.resume-button {
		font-family: var(--font-mono);
		font-size: var(--font-md);
		line-height: var(--line-height-md);
		color: var(--secondary-color);
		text-decoration: none;
		background-color: transparent;
		border-radius: 50px;
		border: 2px solid var(--secondary-color);
		padding: 0.5rem 1.5rem;
		margin: 30px 0;
	}
	.resume-button:hover {
		background-color: var(--active-color);
	}
</style>
