<div class="name">
	<p>vithushjeytharma@gmail.com</p>
</div>

<style>
	.name {
		display: flex;
		letter-spacing: 0.1em;
		-webkit-writing-mode: vertical-rl;
		writing-mode: vertical-rl;
	}
	.name::after {
		content: "";
		display: block;
		width: 1px;
		height: 90px;
		margin: 0px auto;
		background-color: black;
	}
</style>
