<div id="projects">
	<h3 class="content-heading">Projects</h3>
	<ul>
		<div>
			<img
				src="/images/ss-gradient-animation.png"
				alt="gradient-img"
				height="50px"
			/>
			<p>Gradient Animation Generator</p>
			<p>
				A mobile resposnsive web app to generate WebGl gradient animation
				similar to that of <a href="https://stripe.com/">Stripe</a>.
			</p>
			<ul>
				<li>Svelte</li>
				<li>Vite</li>
			</ul>
			<a
				id="github"
				href="https://github.com/VithuJey/svelte-gradient-animation"
				>Github
			</a>
			<a id="website" href="https://gradient-animation.netlify.app/">Website</a>
		</div>
	</ul>
	<ul>
		<div>
			<img src="/images/ss-wine-view.png" alt="wine-view-img" height="50px" />
			<p>Wine View Dashboard</p>
			<p>A mobile resposnsive demo dashboard to manage wine records.</p>
			<ul>
				<li>React</li>
				<li>TypeScript</li>
				<li>Less</li>
				<li>Ant Design</li>
			</ul>
			<a id="github" href="https://github.com/VithuJey/wine-view-dashboard"
				>Github
			</a>
			<a id="website" href="https://wineview.netlify.app/">Website</a>
		</div>
	</ul>
</div>
