<div class="social-list">
	<div class="medium">
		<img
			src="/icons/fa-medium.svg"
			alt="medium-icon"
			class="medium-icon"
			height="22px"
		/>
	</div>
	<div class="github">
		<img
			src="/icons/fa-github.svg"
			alt="github-icon"
			class="github-icon"
			height="22px"
		/>
	</div>
	<div class="linkedin">
		<img
			src="/icons/fa-linkedin.svg"
			alt="linkedin-icon"
			class="linkedin-icon"
			height="22px"
		/>
	</div>
	<div class="twitter">
		<img
			src="/icons/fa-twitter.svg"
			alt="twitter-icon"
			class="twitter-icon"
			height="22px"
		/>
	</div>
</div>

<style>
	.social-list {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: fixed;
		bottom: 0;
	}
	.social-list div {
		margin: 15px 0;
	}
	.social-list::after {
		content: "";
		display: block;
		width: 1px;
		height: 90px;
		margin: 0px auto;
		background-color: var(--primary-color);
	}

	.twitter-icon {
		position: sticky;
		margin-bottom: 20px;
		color: var(--secondary-color);
	}

	/* Medium devices (landscape tablets, 768px and up) */
	@media only screen and (max-width: 768px) {
		.social-list {
			display: none;
		}
	}
	/* Large devices (laptops/desktops, 992px and up) */
	@media only screen and (min-width: 992px) {
		.social-list {
			left: 30px;
		}
	}
	/* Extra large devices (large laptops and desktops, 1200px and up) */
	@media only screen and (min-width: 1200px) {
		.social-list {
			left: 50px;
		}
	}
	/* .medium-icon:hover,
	.github-icon:hover,
	.linkedin-icon:hover, */
	.twitter-icon:hover {
		position: inherit;
		margin-bottom: 20px;
		color: var(--secondary-color);
	}
</style>
