---
import portfolioData from "../data/portfolio.json";
const { socials } = portfolioData;
---

<div class="social-list">
	{
		socials.filter(social => social.visible).map(social => (
			<a
				href={social.url}
				target="_blank"
				rel="noopener noreferrer"
			>
				<img src={social.icon} alt={social.alt} height="22px" />
			</a>
		))
	}
</div>

<style>
	.social-list {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: fixed;
		bottom: 0;
		left: 50px;
	}
	.social-list a {
		margin: 0 0 30px 0;
		display: inline-block;
		transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
	}
	.social-list a:hover {
		transform: translateY(-3px);
	}
	.social-list::after {
		content: "";
		display: block;
		width: 1px;
		height: 90px;
		margin: 0px auto;
		background-color: var(--primary-color);
	}
	img {
		filter: brightness(0) invert(1) opacity(0.85);
		transition: filter 0.25s ease;
	}
	a:hover img {
		filter: none;
	}

	/* Medium devices (landscape tablets, 768px and up) */
	@media only screen and (max-width: 768px) {
		.social-list {
			display: none;
		}
	}
	/* Large devices (laptops/desktops, 992px and up) */
	@media only screen and (min-width: 992px) {
		.social-list {
			left: 30px;
		}
	}
	/* Extra large devices (large laptops and desktops, 1200px and up) */
	@media only screen and (min-width: 1200px) {
		.social-list {
			left: 50px;
		}
	}
</style>
